.header {
  background-color: #e03c31;
  display: flex;
}
.contact {
  font-family: "Oswald", sans-serif;
  margin-left: auto;
  font-size: 40;
  color: white;
  padding: 3%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transition: text-decoration 0.25s ease-out;
}
.envelope {
  width: 10%;
  padding: 1%;
}
.logo {
  position: absolute;
  width: 20%;
  height: auto;
  padding: 2% 2% 2% 2%;
}
.welcome {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 5% 5% 5% 5%;
  font-weight: 700;
  font-size: 50px;
  color: #e03c31;
}
.img {
  width: 120;
  height: 120;
}

.service-wrapper {
  border: 1px solid rgb(88, 87, 87);
  background-color: rgb(184, 187, 187);
}
.services {
  display: flex;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 1% 1% 5% 5%;
  font-weight: 700;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.section-title {
  padding: 3% 3% 3% 3%;
  margin: 0;
  font-style: bold;
}
.section-text {
  padding: 1% 1% 1% 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.quest,
.desc,
.case-study {
  width: 60;
  height: 60;
  display: none;
}

.btn {
  padding: 1%;
  cursor: pointer;
  border-radius: 10px;
  border-color: rgb(176, 176, 177);
  background-color: #949292;
  display: flex;
  justify-content: center;
  width: 80%;
}
.btn:hover {
  background-color: rgb(240, 244, 243);
  transition: background-color 0.8s ease;
  border: 2px solid rgb(47, 47, 47);
}

.btn-wrapper {
  display: flex;
  /* padding: 3% 3% 3% 
  3%; */
  justify-content: center;
  /* column-gap: 10px; */
}
.img {
  padding: 2% 4% 0% 0%;
}
#all-services {
  display: grid;
  grid-template-columns: 0.8fr 4fr 0.5fr 4fr 0.8fr;
  grid-template-rows: 4fr 0.5fr 4fr 0.5fr 4fr;
  /* column-gap: 5%; */
}

#sl-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-area: "sl-wrapper";
}
#hcp-wrapper {
  grid-column: 4/5;
  grid-row: 1/2;
  grid-area: "hcp-wrapper";
}
#lex-wrapper {
  grid-column: 2/3;
  grid-row: 3/4;
  grid-area: "lex-wrapper";
}
#event-wrapper {
  grid-column: 4/5;
  grid-row: 3/4;
  grid-area: "event-wrapper";
}
#liter-wrapper {
  grid-column: 2/3;
  grid-row: 5/6;
  grid-area: "liter-wrapper";
}
#da-wrapper {
  grid-column: 4/5;
  grid-row: 5/6;
  grid-area: "da-wrapper";
}
@media (max-width: 1000px) {
  #all-services {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;

    grid-template-areas: "sl-wrapper", "hcp-wrapper", "lex-wrapper",
      "event-wrapper", "liter-wrapper", "da-wrapper";
  }

  #sl-wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    grid-area: "sl-wrapper";
  }
  #hcp-wrapper {
    grid-column: 2/3;
    grid-row: 3/4;
    grid-area: "hcp-wrapper";
  }
  #lex-wrapper {
    grid-column: 2/3;
    grid-row: 5/6;
    grid-area: "lex-wrapper";
  }
  #event-wrapper {
    grid-column: 2/3;
    grid-row: 7/8;
    grid-area: "event-wrapper";
  }
  #liter-wrapper {
    grid-column: 2/3;
    grid-row: 9/10;
    grid-area: "liter-wrapper";
  }
  #da-wrapper {
    grid-column: 2/3;
    grid-row: 11/12;
    grid-area: "da-wrapper";
  }
}
.service-wrapper:hover {
  color: black;
  font-weight: 500;
  /* box-shadow: rgb(123, 123, 136) 0.2em 0.2em 0.6em 0.1em;  */
  /* background-color: rgb(226, 212, 221); */
}
.service-wrapper {
  padding: 0.5rem;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: rgb(136, 134, 134) 0.2em 0.2em 0.6em 0.1em;
}
.service-wrapper:hover {
  box-shadow: rgb(84, 81, 80) 0.6em 0.6em 0.6em 0.6em;
}
